[submodule "Externals/TouchXML"]
	path = Externals/TouchXML
	url = https://github.com/TouchCode/TouchXML.git
[submodule "Externals/Fingertips"]
	path = Externals/Fingertips
	url = git@github.com:developmentseed/fingertips.git
[submodule "Externals/route-me"]
	path = Externals/route-me
	url = git@github.com:mapbox/route-me.git
[submodule "Externals/Simple KML"]
	path = Externals/Simple KML
	url = git@github.com:mapbox/Simple-KML.git
[submodule "Externals/ASIHTTPRequest"]
	path = Externals/ASIHTTPRequest
	url = https://github.com/pokeb/asi-http-request.git
[submodule "Externals/Wax"]
	path = Externals/Wax
	url = git@github.com:mapbox/wax.git
