[submodule "Externals/TouchXML"]
	path = Externals/TouchXML
	url = https://github.com/TouchCode/TouchXML.git
[submodule "Externals/Fingertips"]
	path = Externals/Fingertips
	url = git@github.com:developmentseed/fingertips.git
[submodule "Externals/route-me"]
	path = Externals/route-me
	url = git@github.com:mapbox/route-me.git
[submodule "Externals/Simple KML"]
	path = Externals/Simple KML
	url = git@github.com:mapbox/Simple-KML.git
[submodule "Externals/ASIHTTPRequest"]
	path = Externals/ASIHTTPRequest
	url = https://github.com/pokeb/asi-http-request.git
[submodule "Externals/StyledPageControl"]
	path = Externals/StyledPageControl
	url = https://github.com/honcheng/iOS-StyledPageControl.git
[submodule "Externals/UIColor-Expanded"]
	path = Externals/UIColor-Expanded
	url = https://github.com/ars/uicolor-utilities.git
[submodule "Externals/tilemill"]
	path = Externals/tilemill
	url = git@github.com:mapbox/tilemill.git
[submodule "Externals/BaseAppKit"]
	path = Externals/BaseAppKit
	url = https://github.com/dimzzy/BaseAppKit.git
[submodule "Externals/SSToolkit"]
	path = Externals/SSToolkit
	url = https://github.com/samsoffes/sstoolkit.git
